@font-face {
    font-family: Quicksand;
    src: url('../../fonts/quicksand/Quicksand-Regular.otf');
}
@font-face {
    font-family: Open Sans;
    src: url('../../fonts/open-sans/OpenSans-Regular.ttf');
}